@model ClinicManagementSystem.Models.AllPatientModelVM;
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

@{
    string DocId = string.Empty;
    GetSessionModel sessionModel = Context.Session.GetObjectFromJson<GetSessionModel>(SessionVariables.SessionData);
    if (sessionModel != null)
    {
        DocId = Convert.ToString(sessionModel.DocId);
    }
}

<div id="msgDiv" style="margin-top:20px">
    @{
        if (TempData["msg"] != null)
        {
            <div class="alert alert-success" onclick="$(this).slideUp(500);" onshow="$(this).slideUp(800);" role="alert">@TempData["msg"]</div>
        }
    }
</div>

<div class="pt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="card shadow" style="border-left: solid 4px blue;">
                <div class="card-body">
                    <div class="row">
                        <h6 style="font-weight: normal" class="pb-3">New Appointments</h6>
                    </div>
                    <div class="row">
                        <h5 id="newAppointmentsCount">0</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow" style="border-left: solid 4px forestgreen;">
                <div class="card-body">
                    <div class="row">
                        <h6 style="font-weight: normal" class="pb-3">Total Appointments</h6>
                    </div>
                    <div class="row">
                        <h5 id="allAppointmentsCount">0</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow" style="border-left: solid 4px lightseagreen;">
                <div class="card-body">
                    <div class="row">
                        <h6 style="font-weight: normal" class="pb-3">New Patients</h6>
                    </div>
                    <div class="row">
                        <h5 id="newPatientCount">0</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow" style="border-left: solid 4px darkgoldenrod;">
                <div class="card-body">
                    <div class="row">
                        <h6 style="font-weight: normal" class="pb-3">All Patients</h6>
                    </div>
                    <div class="row">
                        <h5 id="allPatientCount"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5 mt-3">
        <div class="col-md-3">
            <div class="card shadow" style="border-left: solid 4px blue;">
                <div class="card-body">
                    <div class="row">
                        <h6 style="font-weight: normal" class="pb-3">New Prescriptions</h6>
                    </div>
                    <div class="row">
                        <h5 id="allNewPrescriptionsCount">0</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow" style="border-left: solid 4px forestgreen;">
                <div class="card-body">
                    <div class="row">
                        <h6 style="font-weight: normal" class="pb-3">Total Prescriptions</h6>
                    </div>
                    <div class="row">
                        <h5 id="allTotalPrescriptionsCount">0</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow" style="border-left: solid 4px lightseagreen;">
                <div class="card-body">
                    <div class="row">
                        <h6 style="font-weight: normal" class="pb-3">Total Payments</h6>
                    </div>
                    <div class="row">
                        <h5>0</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow" style="border-left: solid 4px darkgoldenrod;">
                <div class="card-body">
                    <div class="row">
                        <h6 style="font-weight: normal" class="pb-3">Payments This Month</h6>
                    </div>
                    <div class="row">
                        <h5>0</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header">
            <div class="row">
                <div class="col-md-12" style="margin-top:10px; margin-bottom:5px; color:cornflowerblue; font-weight:bold">Patient List &nbsp;|&nbsp; @DateTime.Today.ToString("dddd, dd MMMM yyyy")</div>
            </div>
        </div>
        <div class="card-body">
            <div class="box-body with-border">
                <table id="doctable" class="table table-hover">
                    <thead>
                        <tr>
                            <th style="font-weight:bold">ID</th>
                            <th style="font-weight:bold">Patient Name</th>
                            <th style="font-weight:bold">Phone Number</th>
                            <th style="font-weight:bold">Created Date</th>
                            <th style="font-weight:bold">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.patientModelList != null && Model.patientModelList.Count > 0)
                            {
                                foreach (var item in Model.patientModelList)
                                {
                                    <tr>
                                        <td>@item.ID</td>
                                        <td>@item.PatientName</td>
                                        <td>@item.Phone</td>
                                        <td>@item.Date</td>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-4"></div>
                                                <div class="col-md-2"><i class='bx bxs-edit-alt'></i></div>
                                                <div class="col-md-2"><i class='bx bxs-message-square-x'></i></div>
                                                <div class="col-md-4"></div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#doctable').DataTable();
    });

    var DocId = @DocId;
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Home/getAllPatientsCount",
            data: { DocId },
            success: function (data) {
                console.log(`All Patient Count : Respond Json ====> ${JSON.stringify(data)}`);
                if (data != null) {
                    var tCount = `${JSON.stringify(data)}`;
                    var finalCount = tCount.replace(/\D/g, '');
                    $('#allPatientCount').text(finalCount);                   
                }
                else if (data == 0) {
                    $("#allPatientCount").text("0");
                }
                else {
                    console.log('No Data Found for : getAllPatientsCount');
                }
            }
        });
    });

    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Home/getAllNewPatientsCount",
            data: { DocId },
            success: function (data) {
                console.log(`All New Patient Count : Respond Json ====> ${JSON.stringify(data)}`);
                if (data != null) {
                    var tCount = `${JSON.stringify(data)}`;
                    var finalCount = tCount.replace(/\D/g, '');
                    $('#newPatientCount').text(finalCount);
                }
                else if (data == 0) {
                    $("#newPatientCount").text("0");
                }
                else {
                    console.log('No Data Found for : getAllPatientsCount');
                }
            }
        });
    });

    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Home/getAllAppointmentCount",
            data: { DocId },
            success: function (data) {
                console.log(`All New Patient Count : Respond Json ====> ${JSON.stringify(data)}`);
                if (data != null) {
                    var tCount = `${JSON.stringify(data)}`;
                    var finalCount = tCount.replace(/\D/g, '');
                    $('#allAppointmentsCount').text(finalCount);
                }
                else if (data == 0) {
                    $("#allAppointmentsCount").text("0");
                }
                else {
                    console.log('No Data Found for : getAllAppointmentsCount');
                }
            }
        });
    });

    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Home/getNewAppointmentCount",
            data: { DocId },
            success: function (data) {
                console.log(`All New Patient Count : Respond Json ====> ${JSON.stringify(data)}`);
                if (data != null) {
                    var tCount = `${JSON.stringify(data)}`;
                    var finalCount = tCount.replace(/\D/g, '');
                    $('#newAppointmentsCount').text(finalCount);
                }
                else if (data == 0) {
                    $("#newAppointmentsCount").text("0");
                }
                else {
                    console.log('No Data Found for : getNewAppointmentsCount');
                }
            }
        });
    });

    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Home/getNewPrescriptionCount",
            data: { DocId },
            success: function (data) {
                console.log(`New Prescription Count : Respond Json ====> ${JSON.stringify(data)}`);
                if (data != null) {
                    var tCount = `${JSON.stringify(data)}`;
                    var finalCount = tCount.replace(/\D/g, '');
                    $('#allNewPrescriptionsCount').text(finalCount);
                }
                else if (data == 0) {
                    $("#allNewPrescriptionsCount").text("0");
                }
                else {
                    console.log('No Data Found for : getNewPrescriptionCount');
                }
            }
        });
    });

    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Home/getAllPrescriptionCount",
            data: { DocId },
            success: function (data) {
                console.log(`All Prescription Count : Respond Json ====> ${JSON.stringify(data)}`);
                if (data != null) {
                    var tCount = `${JSON.stringify(data)}`;
                    var finalCount = tCount.replace(/\D/g, '');
                    $('#allTotalPrescriptionsCount').text(finalCount);
                }
                else if (data == 0) {
                    $("#allTotalPrescriptionsCount").text("0");
                }
                else {
                    console.log('No Data Found for : getAllPrescriptionCount');
                }
            }
        });
    });


</script>




