@model ClinicManagementSystem.Models.AllPatientModelVM;
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

@{
    string DocId = string.Empty;
    GetSessionModel sessionModel = Context.Session.GetObjectFromJson<GetSessionModel>(SessionVariables.SessionData);
    if (sessionModel != null)
    {
        DocId = Convert.ToString(sessionModel.DocId);
    }
}

<div style="margin-top:20px">
    @{
        if (TempData["msg"] != null)
        {
            if (TempData.ContainsKey("Patient Record Deleted UnSuccesfull"))
            {
                    <div class="alert alert-danger" id="msgDiv" role="alert">@TempData["msg"]</div>
            }
            else if (TempData.ContainsKey("Patient Record Deleted Succesfull"))
            {
                    <div class="alert alert-success" id="msgDiv" role="alert">@TempData["msg"]</div>
            }
            else
            {
                    <div class="alert alert-success" id="msgDiv" role="alert">@TempData["msg"]</div>
            }
        }
    }
</div>

<div class="pt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="card shadow" style="border-left: solid 4px blue;">
                <div class="card-body">
                    <div class="row">
                        <h6 style="font-weight: normal" class="pb-3">New Appointments</h6>
                    </div>
                    <div class="row">
                        <h5 id="newAppointmentsCount">0</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow" style="border-left: solid 4px forestgreen;">
                <div class="card-body">
                    <div class="row">
                        <h6 style="font-weight: normal" class="pb-3">Total Appointments</h6>
                    </div>
                    <div class="row">
                        <h5 id="allAppointmentsCount">0</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow" style="border-left: solid 4px lightseagreen;">
                <div class="card-body">
                    <div class="row">
                        <h6 style="font-weight: normal" class="pb-3">New Patients</h6>
                    </div>
                    <div class="row">
                        <h5 id="newPatientCount">0</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow" style="border-left: solid 4px darkgoldenrod;">
                <div class="card-body">
                    <div class="row">
                        <h6 style="font-weight: normal" class="pb-3">All Patients</h6>
                    </div>
                    <div class="row">
                        <h5 id="allPatientCount"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5 mt-3">
        <div class="col-md-3">
            <div class="card shadow" style="border-left: solid 4px blue;">
                <div class="card-body">
                    <div class="row">
                        <h6 style="font-weight: normal" class="pb-3">New Prescriptions</h6>
                    </div>
                    <div class="row">
                        <h5 id="allNewPrescriptionsCount">0</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow" style="border-left: solid 4px forestgreen;">
                <div class="card-body">
                    <div class="row">
                        <h6 style="font-weight: normal" class="pb-3">Total Prescriptions</h6>
                    </div>
                    <div class="row">
                        <h5 id="allTotalPrescriptionsCount">0</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow" style="border-left: solid 4px lightseagreen;">
                <div class="card-body">
                    <div class="row">
                        <h6 style="font-weight: normal" class="pb-3">New Payments Today</h6>
                    </div>
                    <div class="row">
                        <h5 id="allTotalPaymentCountOfDay">0</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow" style="border-left: solid 4px darkgoldenrod;">
                <div class="card-body">
                    <div class="row">
                        <h6 style="font-weight: normal" class="pb-3">All Payments</h6>
                    </div>
                    <div class="row">
                        <h5 id="allTotalPayments">0</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header">
            <div class="row">
                <div class="col-md-12" style="margin-top:10px; margin-bottom:5px; color:cornflowerblue; font-weight:bold">Patient List &nbsp;|&nbsp; @DateTime.Today.ToString("dddd, dd MMMM yyyy")</div>
            </div>
        </div>
        <div class="card-body">
            <div class="box-body with-border">
                <table id="doctable" class="table table-hover">
                    <thead>
                        <tr>
                            <th style="font-weight:bold">ID</th>
                            <th style="font-weight:bold" hidden>Record ID</th>
                            <th style="font-weight:bold" hidden>Patient ID</th>
                            <th style="font-weight:bold">Patient Name</th>
                            <th style="font-weight:bold">Phone Number</th>
                            <th style="font-weight:bold">Created Date</th>
                            <th style="font-weight:bold">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.patientModelList != null && Model.patientModelList.Count > 0)
                            {
                                foreach (var item in Model.patientModelList)
                                {
                                        <tr>
                                            <td id="rowId">@item.ID</td>
                                            <td id="rowRecordId" hidden>@item.RecordId</td>
                                            <td id="rowPatientId" hidden>@item.PatientId</td>
                                            <td id="rowPatientName">@item.PatientFirstName @item.PatientLastName</td>
                                            <td id="rowPatientPhoneNumber">@item.Phone</td>
                                            <td id="rowDate">@item.Date</td>
                                            <td id="rowEditDeleteOptions">
                                                <div class="row">
                                                    <div class="col-md-2"><button class="btn btn-warning btn-sm" style="color:white">Edit</button></div>
                                                    <div class="col-md-2"><button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModalCenter" onclick="getDataToDeleteRecord(@item.RecordId, @item.PatientId,  @DocId )">Delete</button> </div>
                                                    <div class="col-md-2"><button class="btn btn-primary btn-sm" data-toggle="modal" data-target=".bd-example-modal-lg" onclick="viewRowData(@item.RecordId, @DocId)">View</button></div>
                                                    <div class="col-md-6"></div>
                                                </div>
                                            </td>
                                        </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal (Delete Row) -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="margin-top:10px; margin-bottom:5px; color:cornflowerblue;">Delete Row</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are You Sure??</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="finalDeleteButton" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal (View Row Data) -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="margin-top:10px; margin-bottom:5px; color:cornflowerblue;">Patient Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <p style="font-weight:bold">First Name</p>
                    </div>
                    <div class="col-md-8">
                        <p id="firstName"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p style="font-weight:bold">Last Name</p>
                    </div>
                    <div class="col-md-8">
                        <p id="lastName"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p style="font-weight:bold">Patient Age</p>
                    </div>
                    <div class="col-md-8">
                        <p id="patientAge"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p style="font-weight:bold">Phone Number</p>
                    </div>
                    <div class="col-md-8">
                        <p id="phoneNumber"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p style="font-weight:bold">Gender</p>
                    </div>
                    <div class="col-md-8">
                        <p id="gender"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p style="font-weight:bold">Present Complaint</p>
                    </div>
                    <div class="col-md-8">
                        <p id="presentComplaint"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p style="font-weight:bold">Past History</p>
                    </div>
                    <div class="col-md-8">
                        <p id="pastHistory"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p style="font-weight:bold">Family History</p>
                    </div>
                    <div class="col-md-8">
                        <p id="familyHistory"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p style="font-weight:bold">Present Medication</p>
                    </div>
                    <div class="col-md-8">
                        <p id="presentMedication"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p style="font-weight:bold">Physical Nature</p>
                    </div>
                    <div class="col-md-8">
                        <p id="physicalNature"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p style="font-weight:bold">Mental Nature</p>
                    </div>
                    <div class="col-md-8">
                        <p id="mentalNature"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p style="font-weight:bold">Created At</p>
                    </div>
                    <div class="col-md-8">
                        <p id="createdAt"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#doctable').DataTable();
        var DocId = @DocId;
        $("#msgDiv").fadeTo(2000, 500).slideUp(500, function () {
            $("#msgDiv").slideUp(500);
        });
        $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
            $("#success-alert").slideUp(500);
        });

        $.ajax({
            type: "GET",
            url: "/Home/getAllPatientsCount",
            data: { DocId },
            success: function (data) {
                console.log(`All Patient Count : Respond Json ====> ${JSON.stringify(data)}`);
                if (data != null) {
                    var tCount = `${JSON.stringify(data)}`;
                    var finalCount = tCount.replace(/\D/g, '');
                    $('#allPatientCount').text(finalCount);
                }
                else if (data == 0) {
                    $("#allPatientCount").text("0");
                }
                else {
                    console.log('No Data Found for : getAllPatientsCount');
                }
            }
        });

        $.ajax({
            type: "GET",
            url: "/Home/getAllNewPatientsCount",
            data: { DocId },
            success: function (data) {
                console.log(`All New Patient Count : Respond Json ====> ${JSON.stringify(data)}`);
                if (data != null) {
                    var tCount = `${JSON.stringify(data)}`;
                    var finalCount = tCount.replace(/\D/g, '');
                    $('#newPatientCount').text(finalCount);
                }
                else if (data == 0) {
                    $("#newPatientCount").text("0");
                }
                else {
                    console.log('No Data Found for : getAllPatientsCount');
                }
            }
        });

        $.ajax({
            type: "GET",
            url: "/Home/getAllAppointmentCount",
            data: { DocId },
            success: function (data) {
                console.log(`All New Patient Count : Respond Json ====> ${JSON.stringify(data)}`);
                if (data != null) {
                    var tCount = `${JSON.stringify(data)}`;
                    var finalCount = tCount.replace(/\D/g, '');
                    $('#allAppointmentsCount').text(finalCount);
                }
                else if (data == 0) {
                    $("#allAppointmentsCount").text("0");
                }
                else {
                    console.log('No Data Found for : getAllAppointmentsCount');
                }
            }
        });

        $.ajax({
            type: "GET",
            url: "/Home/getNewAppointmentCount",
            data: { DocId },
            success: function (data) {
                console.log(`All New Patient Count : Respond Json ====> ${JSON.stringify(data)}`);
                if (data != null) {
                    var tCount = `${JSON.stringify(data)}`;
                    var finalCount = tCount.replace(/\D/g, '');
                    $('#newAppointmentsCount').text(finalCount);
                }
                else if (data == 0) {
                    $("#newAppointmentsCount").text("0");
                }
                else {
                    console.log('No Data Found for : getNewAppointmentsCount');
                }
            }
        });

        $.ajax({
            type: "GET",
            url: "/Home/getNewPrescriptionCount",
            data: { DocId },
            success: function (data) {
                console.log(`New Prescription Count : Respond Json ====> ${JSON.stringify(data)}`);
                if (data != null) {
                    var tCount = `${JSON.stringify(data)}`;
                    var finalCount = tCount.replace(/\D/g, '');
                    $('#allNewPrescriptionsCount').text(finalCount);
                }
                else if (data == 0) {
                    $("#allNewPrescriptionsCount").text("0");
                }
                else {
                    console.log('No Data Found for : getNewPrescriptionCount');
                }
            }
        });

        $.ajax({
            type: "GET",
            url: "/Home/getAllPrescriptionCount",
            data: { DocId },
            success: function (data) {
                console.log(`All Prescription Count : Respond Json ====> ${JSON.stringify(data)}`);
                if (data != null) {
                    var tCount = `${JSON.stringify(data)}`;
                    var finalCount = tCount.replace(/\D/g, '');
                    $('#allTotalPrescriptionsCount').text(finalCount);
                }
                else if (data == 0) {
                    $("#allTotalPrescriptionsCount").text("0");
                }
                else {
                    console.log('No Data Found for : getAllPrescriptionCount');
                }
            }
        });

        $.ajax({
            type: "GET",
            url: "/Home/getAllPaymentCountForToday",
            data: { DocId },
            success: function (data) {
                console.log(`All Payment Count : Respond Json ====> ${JSON.stringify(data)}`);
                if (data != null) {
                    var tCount = `${JSON.stringify(data)}`;
                    var finalCount = tCount.replace(/\D/g, '');
                    $('#allTotalPaymentCountOfDay').text(finalCount);
                }
                else if (data == 0) {
                    $("#allTotalPrescriptionsCount").text("0");
                }
                else {
                    console.log('No Data Found for : getAllPrescriptionCount');
                }
            }
        });

        $.ajax({
            type: "GET",
            url: "/Home/getAllPaymentsCount",
            data: { DocId },
            success: function (data) {
                console.log(`All Payment Count : Respond Json ====> ${JSON.stringify(data)}`);
                if (data != null) {
                    var tCount = `${JSON.stringify(data)}`;
                    var finalCount = tCount.replace(/\D/g, '');
                    $('#allTotalPayments').text(finalCount);
                }
                else if (data == 0) {
                    $("#allTotalPayments").text("0");
                }
                else {
                    console.log('No Data Found for : getAllPaymentsCount');
                }
            }
        });
    });

    function getDataToDeleteRecord(RecordId, PatientId, DocId) {
        var recordId = RecordId;
        var docId = DocId;
        var patientId = PatientId;
        $("#finalDeleteButton").click(function () {
            deleteRowFunction(recordId, patientId, docId);
        });
    }

    function deleteRowFunction(RecordId, PatientId, DocId) {
        $.ajax({
            type: "POST",
            url: "/Home/DeletePatient",
            data: { DocId: DocId, RecordId: RecordId, PatientId: PatientId },
            success: function (data) {
                if (data != null) {
                    setInterval('refreshPage()', 900);                    
                }               
            }
        });
    }

    function viewRowData(RecordId, DocId) {
        $.ajax({
            type: "GET",
            url: "/Home/ViewRowData",
            data: { DocId: DocId, RecordId: RecordId },
            success: function (data) {
                if (data != null) {
                    $("#firstName").text(data.firstName);
                    $("#lastName").text(data.lastName);
                    $("#patientAge").text(data.age);
                    $("#phoneNumber").text(data.phone);
                    $("#gender").text(data.gender);
                    $("#presentComplaint").text(data.presentComplaint);
                    $("#pastHistory").text(data.pastHistory);
                    $("#familyHistory").text(data.familyHistory);
                    $("#presentMedication").text(data.presentMedication);
                    $("#physicalNature").text(data.physicalNature);
                    $("#mentalNature").text(data.mentalNature);
                    $("#createdAt").text(data.createdAt);
                }
            }
        });
    }

    function refreshPage() {
        location.reload(true);
    }

</script>




