@model ClinicManagementSystem.Models.AllPatientModelVM;

@{
    ViewData["Title"] = "All Patients";
    Layout = "_Layout";
}

@{
    string DocId = string.Empty;
    GetSessionModel sessionModel = Context.Session.GetObjectFromJson<GetSessionModel>(SessionVariables.SessionData);
    if (sessionModel != null)
    {
        DocId = Convert.ToString(sessionModel.DocId);
    }
}

<div  style="margin-top:15px">
    @{
        if (TempData["msg"] != null)
        {
            //<div class="alert alert-success" id="msgDiv" onclick="$(this).slideUp(500);" onshow="$(this).slideUp(800);" role="alert">@TempData["msg"]</div>
            <div class="alert alert-success" id="msgDiv" role="alert">@TempData["msg"]</div>
        }
    }
</div>

<div class="card shadow" style="margin-top:20px">
    <div class="card-header">
        <div class="row">
            <div class="col-md-2" style="margin-top:10px; margin-bottom:5px; color:cornflowerblue; font-weight:bold">All Patients</div>
            <div class="col-md-8"></div>
            <div class="col-md-2" style="margin-top:4px">
                <a asp-action="NewPatient" asp-controller="Patient" method="get">
                    <input type="submit" value="New Patient" class="btn btn-primary btn-sm" style="margin-left:55px; background:linear-gradient(-135deg, #71b7e6, #9b59b6); border:none" />
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="box-body with-border">
            <table id="allPatientsTable" class="table table-hover">
                <thead>
                    <tr>
                        <th style="font-weight:bold">ID</th>
                        <th style="font-weight:bold" hidden>Record ID</th>
                        <th style="font-weight:bold" hidden>Patient Id</th>
                        <th style="font-weight:bold">Patient Name</th>
                        <th style="font-weight:bold">Phone Number</th>
                        <th style="font-weight:bold">Created Date</th>
                        <th style="font-weight:bold">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.patientModelList != null && Model.patientModelList.Count > 0)
                        {
                            foreach (var item in Model.patientModelList)
                            {
                                <tr>
                                    <td>@item.ID</td>
                                    <td hidden>@item.RecordId</td>
                                    <td hidden>@item.PatientId</td>
                                    <td>@item.PatientFirstName @item.PatientLastName</td>
                                    <td>@item.Phone</td>
                                    <td>@item.Date</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-md-2"><button class="btn btn-warning btn-sm" style="color:white">Edit</button></div>
                                            <div class="col-md-2"><button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModalCenter" onclick="getDataToDeleteRecord(@item.RecordId, @item.PatientId, @DocId )">Delete</button> </div>
                                            <div class="col-md-2"><button class="btn btn-primary btn-sm" data-toggle="modal" data-target=".bd-example-modal-lg">View</button></div>
                                            <div class="col-md-6"></div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>                
            </table>            
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="margin-top:10px; margin-bottom:5px; color:cornflowerblue;" id="exampleModalLongTitle">Delete Row</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are You Sure??</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="finalDeleteButton" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal (View Row Data) -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="margin-top:10px; margin-bottom:5px; color:cornflowerblue;">Patient Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Sample Data</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#allPatientsTable').DataTable();
        var DocId = @DocId;    
        $("#msgDiv").fadeTo(2000, 500).slideUp(500, function () {
            $("#msgDiv").slideUp(500);
        });
        $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
            $("#success-alert").slideUp(500);
        });
    });

    function getDataToDeleteRecord(RecordId, PatientId, DocId) {
        var recordId = RecordId;
        var docId = DocId;
        var patientId = PatientId;
        $("#finalDeleteButton").click(function () {
            deleteRowFunction(recordId, patientId, docId);
        });
    }

    function deleteRowFunction(RecordId, PatientId, DocId) {
        $.ajax({
            type: "POST",
            url: "/Patient/DeletePatient",
            data: { DocId: DocId, RecordId: RecordId, PatientId: PatientId },
            success: function (data) {
                if (data != null) {
                    setInterval('refreshPage()', 100);
                }
            }
        });
    }
    function refreshPage() {
        location.reload(true);
    }

</script>