@model ClinicManagementSystem.Models.AllAppointmentModelVM
@{
    ViewData["Title"] = "All Appointments";
    Layout = "_Layout";
}

@{
    string DocId = string.Empty;
    GetSessionModel sessionModel = Context.Session.GetObjectFromJson<GetSessionModel>(SessionVariables.SessionData);
    if (sessionModel != null)
    {
        DocId = Convert.ToString(sessionModel.DocId);
    }
}

<div  style="margin-top:15px">
    @{
        if (TempData["msg"] != null)
        {
            if (TempData.ContainsKey("New Appointment Succesfully Inserted"))
            {
                <div class="alert alert-success" id="msgDiv" role="alert">@TempData["msg"]</div>
            }
            else if (TempData.ContainsKey("Patient Record Deleted UnSuccesfull"))
            {
                <div class="alert alert-danger" id="msgDiv" role="alert">@TempData["msg"]</div>
            }
            else
            {
                <div class="alert alert-success" id="msgDiv" role="alert">@TempData["msg"]</div>
            }
        }
    }
</div>

<div class="card shadow mt-4">
    <div class="card-header">
        <div class="row">
            <div class="col-md-2" style="margin-top:10px; margin-bottom:5px; color:cornflowerblue; font-weight:bold">All Appointments</div>
            <div class="col-md-8"></div>
            <div class="col-md-2" style="margin-top:4px">
                <a asp-action="NewAppointment" asp-controller="Appointment" method="get">
                    <input type="submit" value="New Appointment" class="btn btn-primary btn-sm" style="margin-left:55px; background:linear-gradient(-135deg, #71b7e6, #9b59b6); border:none" />
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="box-body with-border">
            <table id="allAppointmentTable" class="table table-hover">
                <thead>
                    <tr>
                        <th style="font-weight:bold">ID</th>
                        <th style="font-weight:bold" hidden>Record ID</th>
                        <th style="font-weight:bold">Patient Name</th>
                        <th style="font-weight:bold">Date</th>
                        <th style="font-weight:bold">Status</th>
                        <th style="font-weight:bold">Created at</th>
                        <th style="font-weight:bold">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.allAppointmentModelsList != null && Model.allAppointmentModelsList.Count > 0)
                        {
                            foreach (var item in Model.allAppointmentModelsList)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td hidden>@item.RecordId</td>
                                    <td>@item.Name</td>
                                    <td>@item.Date</td>
                                    <td>@item.Status</td>
                                    <td>@item.createdAt</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-md-2"><button class="btn btn-warning btn-sm" style="color:white">Edit</button></div>
                                            <div class="col-md-2"><button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModalCenter" onclick="getDataToDeleteRecord(@item.RecordId, @DocId )">Delete</button> </div>
                                            <div class="col-md-8"></div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    }      
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="margin-top:10px; margin-bottom:5px; color:cornflowerblue;" id="exampleModalLongTitle">Delete Row</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are You Sure??</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="finalDeleteButton" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#allAppointmentTable').DataTable();        
        $("#msgDiv").fadeTo(2000, 500).slideUp(500, function () {
            $("#msgDiv").slideUp(500);
        });
        $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
            $("#success-alert").slideUp(500);
        });
        var DocId = @DocId;
    });

    function getDataToDeleteRecord(RecordId, DocId) {
        var recordId = RecordId;
        var docId = DocId;
        $("#finalDeleteButton").click(function () {
            deleteRowFunction(recordId, docId);
        });
    }

    function deleteRowFunction(RecordId, DocId) {
        $.ajax({
            type: "POST",
            url: "/Appointment/DeletePatient",
            data: { DocId: DocId, RecordId: RecordId },
            success: function (data) {
                if (data != null) {
                    setInterval('refreshPage()', 900);
                }
            }
        });
    }
    function refreshPage() {
        location.reload(true);
    }
</script>