@model ClinicManagementSystem.Models.AllAppointmentModelVM
@{
    ViewData["Title"] = "All Appointments";
    Layout = "_Layout";
}

<div id="msgDiv" style="margin-top:15px">
    @{
        if (TempData["msg"] != null)
        {
            <div class="alert alert-success" onclick="$(this).slideUp(500);" onshow="$(this).slideUp(800);" role="alert">@TempData["msg"]</div>
        }
    }
</div>

<div class="card shadow mt-4">
    <div class="card-header">
        <div class="row">
            <div class="col-md-2" style="margin-top:10px; margin-bottom:5px; color:cornflowerblue; font-weight:bold">All Appointments</div>
            <div class="col-md-8"></div>
            <div class="col-md-2" style="margin-top:4px">
                <a asp-action="NewAppointment" asp-controller="Appointment" method="get">
                    <input type="submit" value="New Appointment" class="btn btn-primary btn-sm" style="margin-left:55px; background:linear-gradient(-135deg, #71b7e6, #9b59b6); border:none" />
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="box-body with-border">
            <table id="allAppointmentTable" class="table table-hover">
                <thead>
                    <tr>
                        <th style="font-weight:bold">ID</th>
                        <th style="font-weight:bold">Patient Name</th>
                        <th style="font-weight:bold">Date</th>
                        <th style="font-weight:bold">Status</th>
                        <th style="font-weight:bold">Created at</th>
                        <th style="font-weight:bold">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.allAppointmentModelsList != null && Model.allAppointmentModelsList.Count > 0)
                        {
                            foreach (var item in Model.allAppointmentModelsList)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Date</td>
                                    <td>@item.Status</td>
                                    <td>@item.createdAt</td>
                                    <td>
                                        <div class="row">                                            
                                            <div class="col-md-2"><i class='bx bxs-edit-alt'></i></div>
                                            <div class="col-md-2"><i class='bx bxs-message-square-x'></i></div>
                                            <div class="col-md-8"></div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    }      
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#allAppointmentTable').DataTable();
    });
</script>