@model ClinicManagementSystem.Models.AllPrescriptionModelVM
@{
    ViewData["Title"] = "All Prescriptions";
    Layout = "_Layout";
}

<div id="msgDiv" style="margin-top:15px">
    @{
        if (TempData["msg"] != null)
        {
            <div class="alert alert-success" onclick="$(this).slideUp(500);" onshow="$(this).slideUp(800);" role="alert">@TempData["msg"]</div>
        }
    }
</div>

<div class="card shadow" style="margin-top:20px">
    <div class="card-header">
        <div class="row">
            <div class="col-md-2" style="margin-top:10px; margin-bottom:5px; color:cornflowerblue; font-weight:bold">All Prescriptions</div>
            <div class="col-md-8"></div>
            <div class="col-md-2" style="margin-top:4px">
                <a asp-action="NewPrescription" asp-controller="Prescription" method="get">
                    <input type="submit" value="New Prescription" class="btn btn-primary btn-sm" style="margin-left:55px; background:linear-gradient(-135deg, #71b7e6, #9b59b6); border:none" />
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="box-body with-border">
            <table id="allPatientsTable" class="table table-hover">
                <thead>
                    <tr>
                        <th style="font-weight:bold">ID</th>
                        <th style="font-weight:bold" hidden>Patient Id</th>
                        <th style="font-weight:bold">Patient Name</th>
                        <th style="font-weight:bold">Drug Name</th>
                        <th style="font-weight:bold">Drug Advice</th>
                        <th style="font-weight:bold">TestName</th>
                        <th style="font-weight:bold">Test Description</th>
                        <th style="font-weight:bold">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.allPrescriptionModelList != null && Model.allPrescriptionModelList.Count > 0)
                        {
                            foreach (var item in Model.allPrescriptionModelList)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td hidden>@item.PatientId</td>
                                    <td>@item.PatientName</td>
                                    <td>@item.DrugName</td>
                                    <td>@item.DrugAdviceOrComments</td>
                                    <td>@item.TestName</td>
                                    <td>@item.TestDescription</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-md-3" id="editIcon"><i class='bx bxs-edit-alt'></i></div>
                                            <div class="col-md-3" id="deleteIcon"><i class='bx bxs-message-square-x'></i></div>
                                            <div class="col-md-6"></div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#allPatientsTable').DataTable();
        $('#editIcon').click(function(){
            alert("I am an Edit alert box!");
        });
        $('#deleteIcon').click(function () {
            alert("I am an Delete alert box!");
        });
            
    });
</script>
